# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/
build/
.npm

# Docker
docker-data/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large binaries
*.pdf
*.sqlite3
*.pkl
*.bin
*.pickle
